:root {
	--width: 672px;
	--height: 966px;
	--halfW: 336px;
	--quatW: 168px;
	--borderW: 6px;
}
*, ::before, ::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/*
	main 672*966
	card 744*1038
	total 816*1110
*/

html, body {
/*	font-family: Zapfino;
	font-family: 'Academy Engraved LET';
	font-family: Luminari;
	font-family: Krungthep;
	font-family: SignPainter;
	font-family: Nanum Pen Script;

	font-family: Hiragino Maru Gothic ProN;
	font-family: YuKyokasho;*/
	font-family: Tsukushi A Round Gothic;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 816px;
	min-height: 1110px;
}
.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 816px;
	height: 1110px;
	margin: auto;
	background-size: 100% auto;
	background-color: #013;
	overflow: hidden;
}
.container::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(bg.png);
	background-size: cover;
	opacity: .1;
}
.frame {
	position: relative;
	width: var(--width);
	height: var(--height);
	overflow: hidden;
}


/*.frame::before,*/
.frame::after {
	content: '';
	position: absolute;
	width: 6px;
	height: 483px;
	border-radius: 3px;
}
.frame::before {
	top: 0;
	left: 0;
	background: linear-gradient(to bottom, transparent, #049, #fff 95%, transparent);
}
.frame::after {
	bottom: 0;
	right: 0;
	background: linear-gradient(to top, transparent, #049, #fff 95%, transparent);
}
[frame-type='diamond']::before {
	background: linear-gradient(to bottom, transparent, #049, #fff 95%, transparent);
}
[frame-type='club']::before {
	background: linear-gradient(to bottom, transparent, #049, #fff 85%, transparent 90%, #fff 95%, transparent);
}
[frame-type='heart']::before {
	background: linear-gradient(to bottom, transparent, #049, #fff 75%, transparent 80%, #fff 85%, transparent 90%, #fff 95%, transparent);
}
[frame-type='spade']::before {
	background: linear-gradient(to bottom, transparent, #049, #fff 65%, transparent 70%, #fff 75%, transparent 80%, #fff 85%, transparent 90%, #fff 95%, transparent);
}
[frame-type='diamond']::after {
	background: linear-gradient(to top, transparent, #049, #fff 95%, transparent);
}
[frame-type='club']::after {
	background: linear-gradient(to top, transparent, #049, #fff 85%, transparent 90%, #fff 95%, transparent);
}
[frame-type='heart']::after {
	background: linear-gradient(to top, transparent, #049, #fff 75%, transparent 80%, #fff 85%, transparent 90%, #fff 95%, transparent);
}
[frame-type='spade']::after {
	background: linear-gradient(to top, transparent, #049, #fff 65%, transparent 70%, #fff 75%, transparent 80%, #fff 85%, transparent 90%, #fff 95%, transparent);
}

.line {
	z-index: 2;
	width: 6px;
	background: linear-gradient(-36.25deg, transparent, #049, #fff, #049, transparent);
}

.num {
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	transform: translate(-50%, -50%);
}
.bg .num {
	top: 50%;
	left: 50%;
}


[class*="line-"] {
	position: absolute;
	width: 6px;
	height: 50.05%;
}

.circle {
	width: calc(var(--width) / 2);
	height: calc(var(--width) / 2);
	/*height: calc(var(--width) / 2);*/
	border-radius: 50%;
}
.circle::before {
	content: '';
	position: absolute;
	top: var(--borderW);
	left: var(--borderW);
	width: calc(var(--width) / 2 - var(--borderW) * 2);
	height: calc(var(--width) / 2 - var(--borderW) * 2);

	background: #013;
	border-radius: 50%;
	overflow: hidden;
}
.circle--angle,
.circle--angle::before {
	border-radius: 0 50% 50% 50%;
}



/* 0 */
.line-0-1 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.line-0-1::before {
	height: calc(var(--height) / 2 - var(--borderW) * 2);;
}



/* 1 */
.line-1-1 {
	height: 25%;
	left: 36.5%;
	transform: translate(0, -12%) rotate(45deg);
	background: linear-gradient(to bottom, #fff, #049, transparent);
}
.line-1-2 {
	top: 0;
	height: 100%;
	left: 49.5%;
	background: linear-gradient(to bottom, #fff, #049, transparent, #049, #fff);
}
.line-1-3 {
	bottom: 0;
	left: 25%;
	width: 50%;
	height: 6px;
	background: linear-gradient(to right, transparent, #049, #fff, #049, transparent);
}



/* 2 */
.line-2-1 {
	background: linear-gradient(150deg, #049, #fff, #049, transparent, #049, #fff, #fff);
}
.line-2-1::after {
	position: absolute;
	display: block;
	content: '';
	top: 21%;
	left: 0;
	width: 80%;
	height: 80%;
	background: #013;
}
.line-2-2 {
	width: 10px;
	left: 46.1%;
	bottom: 0;
	height: 40%;
	transform: skew(-51deg, 0);
	background: linear-gradient(to top, transparent, #049, #fff);
}
.line-2-3 {
	bottom: 0;
	left: 10%;
	width: 90%;
	height: 6px;
	background: linear-gradient(to right, #fff, #049, transparent);
}



/* 3 */
.line-3-1 {
	transform: translate(0, -15%) scale(1, .7);
	background: linear-gradient(-30deg, transparent, #049, #fff, #049, transparent, #049, #fff, #fff);
}
.line-3-2 {
	bottom: 0;
	transform: translate(0, 10%) scale(1, .8);
	background: linear-gradient(to bottom, transparent, #049, #fff, #049, transparent, #049, #fff, #fff);
}
.line-3-1::after,
.line-3-2::after {
	content: '';
	position: absolute;
	top: 0;
	left: -5%;
	width: 71%;
	height: 75%;
	background: #013;
}
.line-3-1::after {
	top: auto;
	bottom: 0;
	width: 60%;
	height: 85%;
}



/* 4 */
.line-4-1 {
	left: 30%;
	height: 60%;
	transform: skew(-35deg, 0);
}
.line-4-2 {
	top: 60%;
	width: 100%;
	height: 6px;
}
.line-4-3 {
	left:  60%;
	height: 100%;
}



/* 5 */
.line-5-1 {
	top: 0;
	width: 100%;
	height: var(--borderW);
	background: linear-gradient(to right, transparent, #049, #fff 25%, #049, transparent);
}
.line-5-2 {
	background: linear-gradient(to bottom, transparent, #049, #fff 25%, #049, transparent);
}
.line-5-3 {
	bottom: 0;
	background: linear-gradient(15deg, #049, #fff, #049, transparent, #049, #fff, #fff);
}
.line-5-3::after {
	content: '';
	position: absolute;
	top: 20%;
	left: -5%;
	width: 60%;
	height: 60%;
	background: #013;
	transform: rotate(30deg);
	border-radius: 40% 0 0 0;
}



/* 6 */
.line-6-1 {
	bottom: 0;
	right: 0;
	width: calc(var(--width) / 2);
	height: calc(var(--width) / 2);

	background: linear-gradient(60deg, #049, #fff, #049, transparent, #049, #fff, #049);
	border-radius: 50%;
}
.line-6-1::before {
	content: '';
	position: absolute;
	top: 6px;
	left: 6px;
	width: 324px;
	height: 324px;

	background: #013;
	border-radius: 50%;
	overflow: hidden;
}
.line-6-2 {
	bottom: 46%;
	left: 22%;
	height: 49%;

	transform: skew(-30deg, 0);
	background: linear-gradient(to top, transparent, #fff, #049, transparent, #049, #fff);
}


.line-base {
	bottom: -20%;
	width: 100%;
	height: 3px;
}


/* 7 */
.line-7-1 {
	width: 102%;
	height: 6px;
	background: linear-gradient(to right, transparent, #049, #fff);
}
.line-7-2 {
	left: 49%;
	height: 100%;
	transform: skew(-36.25deg, 0);
	background: linear-gradient(to bottom, #fff, #049, transparent);
}




/* 8 */
.line-8-1 {
	z-index: 3;
	background: linear-gradient(90deg, #fff 15px, transparent 15px, #049, #fff, #049, #fff);
	transform: translate(-9.5%, -22.5%) rotate(-135deg) scale(.54);
}
.line-8-2 {
	bottom: 0;
	background: linear-gradient(135deg, transparent, #049, #fff 48px, #049, #fff);
	transform: translate(0, 12%) rotate(45deg) scale(.75);
}
[class*="line-8-"]::before {
	width: 309px;
	height: 318px;
	top: 6px;
	left: 24px;
}
.line-8-2::before {
	width: 312px;
	height: 312px;
	top: 15px;
	left: 12px;
}



/* 9 */
.line-9-1 {
	top: 0;
	right: 0;
	width: calc(var(--width) / 2);
	height: calc(var(--width) / 2);
	background: linear-gradient(60deg, #049, #fff, #049, transparent, #049, #fff, #049);
	border-radius: 50%;
}
.line-9-1::before {
	content: '';
	position: absolute;
	top: 6px;
	left: 6px;
	width: 324px;
	height: 324px;
	background: #013;
	border-radius: 50%;
	overflow: hidden;
}
.line-9-2 {
	top: 46%;
	right: 22%;
	height: 49%;

	transform: skew(-30deg, 0);
	background: linear-gradient(to bottom, transparent, #fff, #049, transparent, #049, #fff);
}



.line-10-1,
.line-11-1,
.line-12-1,
.line-13-1 {
	height: 25%;
	left: 1.5%;
	transform: translate(0, -12%) rotate(45deg);
	background: linear-gradient(to bottom, #fff, #049, transparent);
}
.line-10-2,
.line-11-2,
.line-12-2,
.line-13-2 {
	z-index: 3;
	top: 0;
	height: 100%;
	left: 14.5%;
	background: linear-gradient(to bottom, #fff, #049, transparent, #049, #fff);
}
.line-10-3,
.line-11-3,
.line-12-3,
.line-13-3 {
	bottom: 0;
	left: -10%;
	width: 50%;
	height: 6px;
	background: linear-gradient(to right, transparent, #049, #fff, #049, transparent);
}

/* 10 */
.line-10-4 {
	width: 100%;
	height: 100%;
	left: 20%;
	border-radius: 50%;
}
.line-10-4::before {
	content: '';
	position: absolute;
	top: 6px;
	left: 6px;
	width: 324px;
	height: 471px;

	background: #013;
	border-radius: 50%;
	overflow: hidden;
}



/* 11 */
.line-11-4 {
	height: 25%;
	left: 66.5%;
	transform: translate(0, -12%) rotate(45deg);
	background: linear-gradient(to bottom, #fff, #049, transparent);
}
.line-11-5 {
	top: 0;
	height: 100%;
	left: 79.5%;
	background: linear-gradient(to bottom, #fff, #049, transparent, #049, #fff);
}
.line-11-6 {
	bottom: 0;
	left: 79.5%;
	right: 0%;
	transform: translate(0, 50%) rotate(90deg);
	background: linear-gradient(to bottom, transparent, #049, #fff, #049, transparent);
}



/* 12 */
.line-12-4 {
	left: 20%;
	background: linear-gradient(150deg, #049, #fff, #049, transparent, #049, #fff, #fff);
}
.line-12-4::after {
	position: absolute;
	display: block;
	content: '';
	bottom: 0;
	left: 0;
	width: 80%;
	height: 80%;
	background: #013;
}
.line-12-5 {
	width: 10px;
	left: 66.3%;
	bottom: 0;
	height: 40%;
	transform: skew(-51deg, 0);
	background: linear-gradient(to top, transparent, #049, #fff);
}
.line-12-6 {
	bottom: 0;
	left: 20%;
	width: 100%;
	height: 6px;
	background: linear-gradient(to right, transparent, #fff, #049, transparent);
}



/* 13 */
.line-13-4 {
	left: 20%;
	transform: translate(0, -15%) scale(1, .7);
	background: linear-gradient(-30deg, transparent, #049, #fff, #049, transparent, #049, #fff, #fff);
}
.line-13-5 {
	left: 20%;
	bottom: 0;
	transform: translate(0, 10%) scale(1, .8);
	background: linear-gradient(to bottom, transparent, #049, #fff, #049, transparent, #049, #fff, #fff);
}
.line-13-4::after,
.line-13-5::after {
	content: '';
	position: absolute;
	top: 0;
	left: -5%;
	width: 71%;
	height: 75%;
	background: #013;
}
.line-13-4::after {
	top: auto;
	bottom: 0;
	width: 60%;
	height: 85%;
}


.skill {
	position: absolute;
	z-index: 2;
	top: 20px;
	bottom: 20px;
	left: 20px;
	right: 20px;
	font-size: 40px;
	line-height: 1;
	text-align: right;
	color: rgba(255, 255, 255, .5);
	pointer-events: none;
}
.skill::before,
.skill .skill-des {
	position: absolute;
	left: 0;
	right: 0;
}
.skill .skill-des {
	font-size: 24px;
	line-height: 1.5;
	text-align: left;
	color: rgba(255, 255, 255, .3);
}

.cabo-skill::before { top: 0; }
.cabo-skill .skill-des { bottom: 3em; }
[frame-view="7"] .cabo-skill::before,
[frame-view="8"] .cabo-skill::before {
	content: 'PEEK';
}

[frame-view="9"] .cabo-skill::before,
[frame-view="10"] .cabo-skill::before {
	content: 'SPY';
}

[frame-view="11"] .cabo-skill::before,
[frame-view="12"] .cabo-skill::before {
	content: 'SWAP';
}

[frame-view="7"] .cabo-skill .skill-des::after,
[frame-view="8"] .cabo-skill .skill-des::after {
	content: '🦄️ 查看自己一张牌';
}
[frame-view="9"] .cabo-skill .skill-des::after,
[frame-view="10"] .cabo-skill .skill-des::after {
	content: '🦄️ 查看对手一张牌';
}
[frame-view="11"] .cabo-skill .skill-des::after,
[frame-view="12"] .cabo-skill .skill-des::after {
	content: '🦄️ 与对手交换一张牌';
}


.loveletter-skill::before {
	top: 0;
}
.loveletter-skill .skill-des {
	bottom: 1.5em;
}

[frame-view="11"] .loveletter-skill::before,
[frame-view="9"] .loveletter-skill::before,
[frame-view="8"] .loveletter-skill::before,
[frame-view="7"] .loveletter-skill::before {
	top: 1.5em;
}

[frame-view="9"][frame-type='diamond'] .loveletter-skill::before { content: '公主'; }
[frame-view="8"][frame-type='diamond'] .loveletter-skill::before { content: '女伯爵'; }
[frame-view="7"][frame-type='diamond'] .loveletter-skill::before { content: '国王'; }
[frame-view="6"][frame-type='diamond'] .loveletter-skill::before,
[frame-view="6"][frame-type='club'] .loveletter-skill::before { content: '大臣'; }
[frame-view="5"][frame-type='diamond'] .loveletter-skill::before,
[frame-view="4"][frame-type='club'] .loveletter-skill::before { content: '王子'; }
[frame-view="4"][frame-type='diamond'] .loveletter-skill::before,
[frame-view="4"][frame-type='club'] .loveletter-skill::before { content: '侍女'; }
[frame-view="3"][frame-type='diamond'] .loveletter-skill::before,
[frame-view="3"][frame-type='club'] .loveletter-skill::before { content: '男爵'; }
[frame-view="2"][frame-type='diamond'] .loveletter-skill::before,
[frame-view="2"][frame-type='club'] .loveletter-skill::before { content: '祭司'; }
[frame-view="11"][frame-type='diamond'] .loveletter-skill::before,
[frame-view="1"] .loveletter-skill::before { content: '守卫'; }
[frame-view="0"][frame-type='diamond'] .loveletter-skill::before { content: '间谍'; }

[frame-type='diamond'] .loveletter-skill .skill-des::before,
[frame-view="0"][frame-type='club'] .loveletter-skill .skill-des::before,
[frame-view="1"] .loveletter-skill .skill-des::before,
[frame-view="2"][frame-type='club'] .loveletter-skill .skill-des::before,
[frame-view="3"][frame-type='club'] .loveletter-skill .skill-des::before,
[frame-view="4"][frame-type='club'] .loveletter-skill .skill-des::before,
[frame-view="5"][frame-type='club'] .loveletter-skill .skill-des::before,
[frame-view="6"][frame-type='club'] .loveletter-skill .skill-des::before {content: '💌 ';}

/* 情书隐藏 */
[frame-view="bg"] .loveletter-skill .skill-des,
[frame-view="13"] .loveletter-skill .skill-des,
[frame-view="12"] .loveletter-skill .skill-des,
[frame-view="10"] .loveletter-skill .skill-des,
[frame-view="11"][frame-type='club'] .loveletter-skill .skill-des::before,
[frame-view="11"][frame-type='heart'] .loveletter-skill .skill-des::before,
[frame-view="11"][frame-type='spade'] .loveletter-skill .skill-des::before {
	opacity: 0;
}


[frame-view="9"][frame-type='diamond'] .loveletter-skill .skill-des::after {
	content: '玩家若弃掉公主，则出局';
}
[frame-view="8"][frame-type='diamond'] .loveletter-skill .skill-des::after {
	content: '如果手牌有王子或国王，则必须打出女伯爵';
}
[frame-view="7"][frame-type='diamond'] .loveletter-skill .skill-des::after {
	content: '选择一位玩家与其交换手牌';
}
[frame-view="6"][frame-type='diamond'] .loveletter-skill .skill-des::after,
[frame-view="6"][frame-type='club'] .loveletter-skill .skill-des::after {
	content: '从牌堆摸两张牌，然后从手牌中选择两张牌放回牌堆底';
}
[frame-view="5"][frame-type='diamond'] .loveletter-skill .skill-des::after,
[frame-view="5"][frame-type='club'] .loveletter-skill .skill-des::after {
	content: '选择一位玩家让其弃掉手牌';
}
[frame-view="4"][frame-type='diamond'] .loveletter-skill .skill-des::after,
[frame-view="4"][frame-type='club'] .loveletter-skill .skill-des::after {
	content: '一回合内不受技能效果影响';
}
[frame-view="3"][frame-type='diamond'] .loveletter-skill .skill-des::after,
[frame-view="3"][frame-type='club'] .loveletter-skill .skill-des::after {
	content: '与任一位玩家的手牌比大小，数字小的玩家出局';
}
[frame-view="2"][frame-type='diamond'] .loveletter-skill .skill-des::after,
[frame-view="2"][frame-type='club'] .loveletter-skill .skill-des::after {
	content: '秘密查看一位玩家的手牌';
}
[frame-view="11"][frame-type='diamond'] .loveletter-skill .skill-des::after,
[frame-view="1"] .loveletter-skill .skill-des::after {
	content: '猜一位玩家的手牌，如果猜中则对方出局（不能猜守卫）';
	letter-spacing: -1px;
}
[frame-view="0"][frame-type='diamond'] .loveletter-skill .skill-des::after,
[frame-view="0"][frame-type='club'] .loveletter-skill .skill-des::after {
	content: '若本轮你存活且只有你打出或弃掉间谍，额外获得一分';
}
/*
侍卫 1 5 出牌时猜任一位玩家的手牌，如果猜中则出局，其中不能猜测对方为侍卫
牧师 2 2 出牌时可以查看任一位玩家的手牌
男爵 3 2 出牌时与任一位玩家的手牌比大小，数字小的玩家出局，平手则没事
女仆 4 2 出牌后此玩家一回合内受到保护，其他玩家无法对他使用技能
王子 5 2 出牌时可以指定任一位玩家(包括自己)，(面朝上)弃掉手牌并抽一张；如果弃的牌是公主，则该玩家出局
国王 6 1 出牌时可以与任一位玩家交换手牌
伯爵夫人 7 1 如果手牌同时有这张和王子或国王，则必须打出伯爵夫人
公主 8 1 玩家若弃掉公主，则出局
*/

.silver-skill .skill-des::after {
}
/*
00 villager		村民		持续：如果两张 0 同时展示在场上，本轮立即结束
01 squire		侍从		持续：每个侍从展示 1 张牌堆顶的牌
02 empath		通灵		持续：在你的回合，查看你的一张牌
03 bodyguard	保镖		持续：保护此牌和自己的另一张的牌
04 rascal		无赖		持续：抽牌时，每个无赖让你额外抽一张牌
05 exposer		曝光者	将你的 1 张牌翻至正面
06 revealer		启示者	将任意 1 张牌翻至正面
07 beholder		旁观者	查看自己至多 2 张牌
08 seer			预言学徒	查看其他玩家的 1 张牌
09 seer			预言师	查看任意 1 张牌
10 master		大师		从弃牌堆拿一张牌
11 witch		女巫		查看牌堆顶的一张牌，然后与任意玩家的一张牌交换
12 robber		强盗		偷取一位对手的牌，然后将你的一张牌给回去，查看你新拿到的牌
13 doppelganger	二重身	交换牌时可视作其他牌
*/


.coup-skill {
}
/* 40个1元 20个5元 合计 140元 */


/*
[frame-type='diamond']
[frame-type='club']
[frame-type='heart']
[frame-type='spade']
*/
.hanafuda-skill .skill-des {
}
.hanafuda-skill {
}
.hanafuda-skill .skill-des {
	bottom: 0;
}
.hanafuda-skill .skill-des::before {
	content: '🌸 ';
}
[frame-view="bg"] .hanafuda-skill .skill-des::before,
[frame-view="0"] .hanafuda-skill .skill-des::before,
[frame-view="13"] .hanafuda-skill .skill-des::before {display: none;}
[frame-view="1"][frame-type='diamond'] .hanafuda-skill .skill-des::after { content: '「光」松上鹤'; }
[frame-view="1"][frame-type='club'] .hanafuda-skill .skill-des::after { content: '「赤」松上赤短'; }
[frame-view="1"][frame-type='heart'] .hanafuda-skill .skill-des::after,
[frame-view="1"][frame-type='spade'] .hanafuda-skill .skill-des::after { content: '「粕」松'; }

[frame-view="2"][frame-type='diamond'] .hanafuda-skill .skill-des::after { content: '「种」梅上莺'; }
[frame-view="2"][frame-type='club'] .hanafuda-skill .skill-des::after { content: '「赤」梅上赤短'; }
[frame-view="2"][frame-type='heart'] .hanafuda-skill .skill-des::after,
[frame-view="2"][frame-type='spade'] .hanafuda-skill .skill-des::after { content: '「粕」梅'; }

[frame-view="3"][frame-type='diamond'] .hanafuda-skill .skill-des::after { content: '「光」樱上幕'; }
[frame-view="3"][frame-type='club'] .hanafuda-skill .skill-des::after { content: '「赤」樱上赤短'; }
[frame-view="3"][frame-type='heart'] .hanafuda-skill .skill-des::after,
[frame-view="3"][frame-type='spade'] .hanafuda-skill .skill-des::after { content: '「粕」樱'; }

[frame-view="4"][frame-type='diamond'] .hanafuda-skill .skill-des::after { content: '「种」藤上鹃'; }
[frame-view="4"][frame-type='club'] .hanafuda-skill .skill-des::after { content: '「短」藤上短册'; }
[frame-view="4"][frame-type='heart'] .hanafuda-skill .skill-des::after,
[frame-view="4"][frame-type='spade'] .hanafuda-skill .skill-des::after { content: '「粕」藤'; }

[frame-view="5"][frame-type='diamond'] .hanafuda-skill .skill-des::after { content: '「种」蒲上八桥'; }
[frame-view="5"][frame-type='club'] .hanafuda-skill .skill-des::after { content: '「短」蒲上短册'; }
[frame-view="5"][frame-type='heart'] .hanafuda-skill .skill-des::after,
[frame-view="5"][frame-type='spade'] .hanafuda-skill .skill-des::after { content: '「粕」菖蒲'; }

[frame-view="6"][frame-type='diamond'] .hanafuda-skill .skill-des::after { content: '「种」牡丹蝶'; }
[frame-view="6"][frame-type='club'] .hanafuda-skill .skill-des::after { content: '「青」牡丹青短'; }
[frame-view="6"][frame-type='heart'] .hanafuda-skill .skill-des::after,
[frame-view="6"][frame-type='spade'] .hanafuda-skill .skill-des::after { content: '「粕」牡丹'; }

[frame-view="7"][frame-type='diamond'] .hanafuda-skill .skill-des::after { content: '「种」萩间猪'; }
[frame-view="7"][frame-type='club'] .hanafuda-skill .skill-des::after { content: '「短」萩上短册'; }
[frame-view="7"][frame-type='heart'] .hanafuda-skill .skill-des::after,
[frame-view="7"][frame-type='spade'] .hanafuda-skill .skill-des::after { content: '「粕」萩'; }

[frame-view="8"][frame-type='diamond'] .hanafuda-skill .skill-des::after { content: '「光」芒上月'; }
[frame-view="8"][frame-type='club'] .hanafuda-skill .skill-des::after { content: '「种」芒上雁'; }
[frame-view="8"][frame-type='heart'] .hanafuda-skill .skill-des::after,
[frame-view="8"][frame-type='spade'] .hanafuda-skill .skill-des::after { content: '「粕」芒草'; }

[frame-view="9"][frame-type='diamond'] .hanafuda-skill .skill-des::after { content: '「种」「粕」菊上杯'; }
[frame-view="9"][frame-type='club'] .hanafuda-skill .skill-des::after { content: '「青」菊上青短'; }
[frame-view="9"][frame-type='heart'] .hanafuda-skill .skill-des::after,
[frame-view="9"][frame-type='spade'] .hanafuda-skill .skill-des::after { content: '「粕」菊'; }

[frame-view="10"][frame-type='diamond'] .hanafuda-skill .skill-des::after { content: '「种」枫间鹿'; }
[frame-view="10"][frame-type='club'] .hanafuda-skill .skill-des::after { content: '「青」枫上青短'; }
[frame-view="10"][frame-type='heart'] .hanafuda-skill .skill-des::after,
[frame-view="10"][frame-type='spade'] .hanafuda-skill .skill-des::after { content: '「粕」枫'; }

[frame-view="11"][frame-type='diamond'] .hanafuda-skill .skill-des::after { content: '「光」柳上风'; }
[frame-view="11"][frame-type='club'] .hanafuda-skill .skill-des::after { content: '「种」柳上燕'; }
[frame-view="11"][frame-type='heart'] .hanafuda-skill .skill-des::after { content: '「短」柳上短册'; }
[frame-view="11"][frame-type='spade'] .hanafuda-skill .skill-des::after { content: '「粕」柳雷雨鼓'; }

[frame-view="12"][frame-type='diamond'] .hanafuda-skill .skill-des::after { content: '「光」桐上凰'; }
[frame-view="12"][frame-type='club'] .hanafuda-skill .skill-des::after,
[frame-view="12"][frame-type='heart'] .hanafuda-skill .skill-des::after,
[frame-view="12"][frame-type='spade'] .hanafuda-skill .skill-des::after { content: '「粕」泡桐'; }

.num {z-index: 2;}
.bg .num-0,
.bg .num-2,
.bg .num-3,
.bg .num-5,
.bg .num-6,
.bg .num-8,
.bg .num-9 {
	z-index: 1;
}

[frame-view="0"] .num-0,
[frame-view="1"] .num-1,
[frame-view="2"] .num-2,
[frame-view="3"] .num-3,
[frame-view="4"] .num-4,
[frame-view="5"] .num-5,
[frame-view="6"] .num-6,
[frame-view="7"] .num-7,
[frame-view="8"] .num-8,
[frame-view="9"] .num-9,
[frame-view="10"] .num-10,
[frame-view="11"] .num-11,
[frame-view="12"] .num-12,
[frame-view="13"] .num-13,
[frame-view="cabo"] .cabo,
[frame-view="bg"] .bg .num,
[frame-view] .num > .num {
	opacity: 1;
	pointer-events: auto;
}


.num,
.cabo,
.bg .num,
.bg .skill,
[frame-view="bg"]::before,
[frame-view="bg"]::after {
	opacity: 0;
	pointer-events: none;
	transition: opacity .15s ease-in-out;
}
.bg .line-9-1::before {
	content: '';
}


.cabo {
	position: absolute;
	left: 6%;
	right: 6%;
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	font-size: 60px;
	font-family: '苹方';
	color: #fff;
}
.cabo dl {
	font-size: 36px;
	line-height: 1.2;
}
.cabo dt {
	margin-top: .4em;
	font-size: 48px;
	color: gold;
}
.cabo span {
	color: gold;
}






